<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../../includes/head') %>
    <title>Reset password - Snappy Book Review</title>
  </head>
  <body>
    <%- include('../../includes/header') %>
    <div class="sbr-maincontainer">
      <h1>Reset password</h1>
      <form class="sbr-form" id="reset_password_form">
        <div class="sbr-form-field">
          <label for="email_input" class="sbr-form-label">Email adress</label>
          <input type="email" class="sbr-form-control" id="email_input">
        </div>
        <button type="submit" class="sbr-form-submit-btn">Reset password</button>
      </form>
      <div id="form_submit_info"></div>
    </div>
    <%- include('../../includes/footer') %>
    <script src="<%= config.siteUrl %>/js/account/reset-password.js"></script>
  </body>
</html>