<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../../includes/head') %>
    <title>Reset password - Snappy Book Review</title>
  </head>
  <body>
    <%- include('../../includes/header') %>
    <div class="sbr-maincontainer">
      <h1>Reset password</h1>
      <form class="sbr-form" id="reset_password_reset_form">
        <div class="sbr-form-field">
          <label for="password_input" class="sbr-form-label">Password</label>
          <input type="password" class="sbr-form-control" id="password_input" aria-describedby="password_help">
          <div id="password_help" class="sbr-form-text">
            Your password must be 8-20 characters long, containing at least one letter and one number.
          </div>
        </div>
        <div class="sbr-form-field">
          <label for="verify_password_input" class="form-label">Verify password</label>
          <input type="password" class="form-control" id="verify_password_input">
        </div>
        <button type="submit" class="sbr-form-submit-btn">Reset password</button>
      </form>
      <div id="form_submit_info"></div>
    </div>
    <%- include('../../includes/footer') %>
    <script src="<%= config.siteUrl %>/js/account/reset-password-reset.js"></script>
  </body>
</html>