<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../../includes/head') %>
    <title>Page title</title>
    <title>Account Verification - Snappy Book Review</title>
  </head>
  <body>
    <%- include('../../includes/header') %>
    <div class="sbr-maincontainer">
      <h1>Account Verification</h1>
      <p><%= responseText %></p>
    </div>
    <%- include('../../includes/footer') %>
  </body>
</html>