<!DOCTYPE html>
<html>
  <head>
    <%- include ('includes/head') %>
    <title>Home page</title>
    <!-- Custom code in head section here -->
  </head>
  <body>
    <%- include('includes/header') %>

    <div class="sbr-maincontainer sbr-middlealign">
      <h1 class="sbr-text-center">Snappy Book Review - The best website for reading book reviews</h1>
      <form class="sbr-form sbr-text-center" action="<%= config.siteUrl %>/search/" method="get">
        <div class="sbr-form-field">
          <input name="q" class="sbr-form-control" type="search" placeholder="Search for a book">
        </div>
        <button type="submit" class="sbr-form-submit-btn">Search</button>
      </form>
    </div>
    <%- include('includes/footer') %>
  </body>
</html>