<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('includes/head') %>
    <title>Page title</title>
    <!-- Custom code in head section here -->
  </head>
  <body>
    <%- include('includes/header') %>
    <!-- Custom code in body section here -->
    <%- include('includes/footer') %>
  </body>
</html>